.title {
  margin-left: 1em;
}

.avatar {
  width: 35px;
}

.user-name {
  margin-right: 1em;
  margin-left: 1em;
}

.dropdown-icon {
  top: 40%!important;
  width: 0.65rem!important;
  height: 0.65rem!important;
}

clr-dropdown-menu {
  width: 200px;
}
