<clr-wizard 
  clrWizardSize="lg"
  [clrWizardOpen]="true" 
  (clrWizardOnCancel)="cancel()"
>
  <clr-wizard-title>Sign Up</clr-wizard-title>

  <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
  <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
  <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
  <clr-wizard-button [type]="'finish'">Done</clr-wizard-button>

  <clr-wizard-page [clrWizardPageNextDisabled]="!personalDataValid">
    <ng-template clrPageTitle>Fill in your personal data</ng-template>
    <ng-template clrPageNavTitle>Personal Data</ng-template>

    <form clrForm clrLayout="horizontal">
      <clr-input-container>
        <label>Full Name</label>
        <input clrInput type="text" name="fullName" placeholder="John Doe"
          [(ngModel)]="personalData.name"
          required 
        />
        <clr-control-error>{{ requiredMessage }}</clr-control-error>
      </clr-input-container>

      <clr-input-container>
        <label>Email</label>
        <input clrInput type="email" name="email" placeholder="johndoe@gmail.com"
          [(ngModel)]="personalData.email"
          required 
        />
        <clr-control-error>{{ requiredMessage }}</clr-control-error>
      </clr-input-container>

      <clr-textarea-container>
        <label>Description</label>
        <textarea clrTextarea name="description"
          placeholder="I'm a front-end developer based in Barcelona."
          [(ngModel)]="personalData.description"
          required
        ></textarea>
      </clr-textarea-container>

      <!-- Country select, it will be a separate component for reusability -->
      <clr-select-container>
        
      </clr-select-container>

      <clr-input-container>
        <label>City</label>
        <input clrInput type="text" name="city" placeholder="Barcelona"
          [(ngModel)]="personalData.city"
          required 
        />
        <clr-control-error>{{ requiredMessage }}</clr-control-error>
      </clr-input-container>
    </form>
  </clr-wizard-page>

  <clr-wizard-page [clrWizardPageNextDisabled]="!avatarChosen">
    <ng-template clrPageTitle>Choose your avatar</ng-template>
    <ng-template clrPageNavTitle>Avatar</ng-template>
    <form>
      
    </form>
  </clr-wizard-page>

  <clr-wizard-page>
    <ng-template clrPageTitle>Fill in your professional information</ng-template>
    <ng-template clrPageNavTitle>Professional Information</ng-template>

    <form>
      
    </form>
  </clr-wizard-page>
</clr-wizard>
