// Override Clarity textarea styles to make them similar to input
.clr-textarea:not([readonly]) {
  background: linear-gradient(to bottom,transparent 97%,var(--clr-forms-focused-color, #0072a3) 95%) no-repeat;
  background-size: 0 100%;
  transition: background-size .2s ease;
}

.clr-textarea:not([readonly]):focus {
  border-top-color: var(--clr-forms-focused-color, #0072a3);
  border-left-color: var(--clr-forms-focused-color, #0072a3);
  border-right-color: var(--clr-forms-focused-color, #0072a3);
  border-bottom: unset;
  background-size: 100% 100%;
}

.clr-textarea:focus {
  outline: unset;
}

.clr-error .clr-textarea:not([readonly]) {
  background: linear-gradient(to bottom,transparent 97%,var(--clr-forms-invalid-color, #c21d00) 95%) no-repeat;
  background-size: 0 100%;
  transition: background-size .2s ease;
}

.clr-error .clr-textarea:not([readonly]):focus,
.clr-error .clr-textarea:not([readonly]).clr-focus {
  border-top-color: var(--clr-forms-invalid-color, #c21d00);
  border-left-color: var(--clr-forms-invalid-color, #c21d00);
  border-right-color: var(--clr-forms-invalid-color, #c21d00);
  border-bottom: unset;
  background-size: 100% 100%; 
}
